[Desktop Entry]
Comment=A simple, modern and stylish new theme with it's own desktop layout inspiriert by the unity and the xfce desktop.
Name=PomeLook
X-KDE-PluginInfo-Author=UuBroot
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=lolylyt@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3+
X-KDE-PluginInfo-Name=PomeLook
X-KDE-PluginInfo-Version=3.0
X-KDE-PluginInfo-Website=github.com/uubroot
X-KDE-ServiceTypes=Plasma/LookAndFeel
